@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #1747F9 0%, #1747F9 0%, #1747F9 11%, #fff 100%);
}

.nav-link {
    color: aquamarine;
}
.navbar-nav.nav-link.active {
    color: rgb(255, 193, 127);
}
.navbar-brand img {
    width: 40px;
}
.navbar-toggler {
    background-color: aqua;
}
.sidebar {
    color: rgb(9, 10, 10);
    background: linear-gradient(270deg, #1747F9 0%, #1747F9 0%, #1747F9 11%, #fff 100%);
}
.sidebar a {
    color: rgb(251, 4, 4);
}

.card {
    background: linear-gradient(270deg, #1747F9 0%, #1747F9 0%, #1747F9 11%, #fff 100%);
}

.card a {
    text-decoration: none;
    color: black;
}

.slide-text {
    margin: auto auto;
}

.nigga {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-ite img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.html-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

